<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="car" class="com.shad.Car" scope="prototype"> <property name="brand" 
		value="Audy"></property> <property name="engine" ref="engine2"></property> 
		</bean> -->

	<bean id="bike" class="com.shad.Bike">
		<property name="company" value="Bajaj"></property>
		<constructor-arg name="cost" value="90000"></constructor-arg>
	</bean>
	<!-- <bean id="engine2" class="com.shad.Engine"> <property name="power" 
		value="3000"></property> </bean> -->

</beans>